       :root {
          --primary-color: #344a72;
          --secondary-color: chocolate;
      }
      /*show this menu to media with screen, where width is less than height or the screen is less than 600px*/
      /*Do not allow older browsers to process this style sheet*/
      
      @media (max-width: 798px),
      (orientation: portrait) {
          .container {
              max-width: 798px;
              width: auto;
              margin: auto;
          }
          .nav-pos {
              margin: auto;
          }
          #navbar {
              margin: auto;
          }
          .navbar {
              width: 100%;
              box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
          }
          .nav-container {
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 62px;
              z-index: 100;
          }
          .navbar .menu-items {
              display: flex;
              background: url("") lightgray;
              background-repeat: repeat-x, repeat-y;
              z-index: 101;
          }
          .navbar .nav-container li {
              list-style: none;
          }
          .navbar .nav-container a {
              text-decoration: none;
              color: #0e2431;
              font-weight: 500;
              font-size: 1.2rem;
              padding: 0.7rem;
          }
          .navbar .nav-container a:hover {
              font-weight: bolder;
          }
          .nav-container {
              display: block;
              position: relative;
              height: 60px;
          }
          .nav-container .checkbox {
              position: absolute;
              display: block;
              height: 32px;
              width: 32px;
              top: 20px;
              left: 20px;
              z-index: 5;
              opacity: 0;
              cursor: pointer;
          }
          .nav-container .hamburger-lines {
              display: block;
              height: 26px;
              width: 32px;
              position: absolute;
              top: 17px;
              left: 20px;
              z-index: 2;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
          }
          .nav-container .hamburger-lines .line {
              display: block;
              height: 4px;
              width: 100%;
              border-radius: 10px;
              background: #0e2431;
          }
          .nav-container .hamburger-lines .line1 {
              transform-origin: 0% 0%;
              transition: transform 0.4s ease-in-out;
          }
          .nav-container .hamburger-lines .line2 {
              transition: transform 0.2s ease-in-out;
          }
          .nav-container .hamburger-lines .line3 {
              transform-origin: 0% 100%;
              transition: transform 0.4s ease-in-out;
          }
          .navbar .menu-items {
              padding-top: 120px;
              box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
              height: auto;
              width: auto;
              transform: translate(-150%);
              display: flex;
              flex-direction: column;
              margin-left: -40px;
              padding-left: 50px;
              transition: transform 0.5s ease-in-out;
              text-align: center;
          }
          .navbar .menu-items li {
              margin-bottom: 1.2rem;
              font-size: 1.5rem;
              font-weight: 500;
          }
          .nav-container input[type="checkbox"]:checked~.menu-items {
              transform: translateX(0);
          }
          .nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
              transform: rotate(45deg);
          }
          .nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
              transform: scaleY(0);
          }
          .nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
              transform: rotate(-45deg);
          }
          .nav-container input[type="checkbox"]:checked~.logo {
              display: none;
          }
      }
      /*end of media query for small devices and mobile divices */
      /*use this style sheet for windows if the the width is bigger than the height and the min-width is 600px*/
      
      @media (min-width: 799px) and (orientation: landscape) {
          .nav-pos {
              display: block;
              margin-left: auto;
              margin-right: auto;
          }
          #navbar ul {
              list-style: none;
              z-index: 100;
          }
          #navbar ul li {
              color: #333;
              display: inline-block;
              padding: 0;
              position: relative;
              margin: 2vw;
          }
          #navbar ul li a {
              color: #333;
              text-decoration: none;
          }
          /* Hide Nested ul By Default */
          #navbar ul li ul {
              display: none;
          }
          #navbar ul li:hover {
              color: #fff;
          }
          #navbar ul li:hover a {
              color: #fff;
          }
          #navbar ul li a:active {
              color: red;
              font-weight: bolder;
          }
          /* Nested Dropdown Show */
          #navbar ul li:hover ul {
              display: block;
              position: absolute;
              left: 0;
              width: 200px;
              margin-top: 1%;
              background: #e7e7e7;
          }
          #navbar ul li:hover ul li {
              display: block;
              background: #e7e7e7;
          }
          #navbar ul li:hover ul li a {
              color: #333;
          }
          #navbar ul li:hover ul li:hover {
              background: #e0e0e0;
              color: inherit;
          }
          #navbar ul li:hover ul li span {
              float: right;
              color: #fff;
              background: var(--primary-color);
              padding: 0.2rem 0.5rem;
              text-align: center;
              font-size: 0.8rem;
              border-radius: 5px;
          }
          #navbar ul li:hover ul li:hover span {
              background: var(--secondary-color);
          }
          /*works at centering an ul li menu. see menu-items class used on the ul for the menu style*/
          .menu-items {
              list-style-type: none;
              margin: 0;
              padding: 0;
              text-align: center;
          }
          .menu-items li {
              display: inline-block;
              min-width: 5em;
              margin: 0 0.5em;
          }
          .menu-items a {
              text-decoration: none;
              display: block;
              font-family: Arial;
              position: relative;
              color: black;
              padding: .5em 0
          }
          .menu-items a:hover {
              color: #c69f73;
          }
          .menu-items a:hover:before {
              left: 0;
              width: 100%;
          }
          .menu-items a:before {
              content: "";
              position: absolute;
              width: 0;
              height: .5px;
              background-color: #c69f73;
              bottom: calc(-1px);
              right: 0;
              transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
          }
          /*end of exclusive code for centering the ul li menu*/
          /**/
          /* Navigation buttons styling*/
          nav button {
              display: flex;
              align-items: center;
              font-family: inherit;
              font-weight: 500;
              font-size: 16px;
              padding: 0.2em 0.4em;
              color: white;
              background: #ad5389;
              background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
              border: none;
              box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
              letter-spacing: 0.05em;
              border-radius: 10em;
              cursor: pointer;
              user-select: none;
              -webkit-user-select: none;
              touch-action: manipulation;
          }
          nav button:hover {
              box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
          }
          nav button:active,
          nav button:focus,
          nav button:target,
          nav button.selected {
              box-shadow: 0 0.3em 1em -0.5em #14a73e98;
              color: red;
              font-weight: bolder;
          }
          .fa_custom {
              color: #0099CC;
              box-shadow: 0 0.3em 1em -0.5em #14a73e98;
          }
      }
      
      @media only screen and (min-width: 550px) and (max-width: 649px) {
          nav button {
              font-weight: 300;
              font-size: 10px;
          }
          #navbar ul li {
              padding: 0;
              margin: 0.1vw;
          }
      }
      
      @media only screen and (min-width: 650px) and (max-width: 798px) {
          nav button {
              font-weight: 300;
              font-size: 11px;
          }
          #navbar ul li {
              padding: 0;
              margin: 0.2vw;
          }
      }
      
      @media only screen and (min-width: 799px) and (max-width: 1040px) {
          nav button {
              font-weight: 400;
              font-size: 13px;
          }
          #navbar ul li {
              padding: 0;
              margin: 0.4vw;
          }
      }
      
      @media only screen and (min-width: 1041px) and (max-width: 1280px) {
          nav button {
              font-weight: 400;
              font-size: 14px;
          }
          #navbar ul li {
              padding: 0;
              margin: 0.5vw;
          }
      }
      
      @media only screen and (min-width: 1281px) and (max-width: 1400px) {
          nav button {
              font-weight: 400;
              font-size: 14px;
          }
          #navbar ul li {
              padding: 0;
              margin: 0.7vw;
          }
      }
      
      @media only screen and (min-width: 1401px) and (max-width: 1650px) {
          nav button {
              font-weight: 400;
              font-size: 14px;
          }
          #navbar ul li {
              padding: 0;
              margin: 0.9vw;
          }
      }
      
      @media only screen and (min-width: 1651px) {
          nav button {
              font-weight: 400;
              font-size: 14px;
          }
          #navbar ul li {
              padding: 0;
              margin: 1.0vw;
          }
      }
      /*style menu links in footer*/
      
      .footermenu {
          list-style-type: none;
          margin: 0;
          padding: 0;
          text-align: center;
      }
      
      .footermenu li {
          display: inline-block;
          min-width: 5em;
          margin: 0 0.5em;
      }
      
      .footermenu a {
          text-decoration: none;
          display: block;
          font-family: Arial;
          position: relative;
          color: black;
          padding: .5em 0
      }
      
      .footermenu a:hover {
          color: #c69f73;
      }
      
      .footermenu a:hover:before {
          left: 0;
          width: 100%;
      }
      
      .footermenu a:before {
          content: "";
          position: absolute;
          width: 0;
          height: .5px;
          background-color: #c69f73;
          bottom: calc(-1px);
          right: 0;
          transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }
      
      .copyright {
          margin: 0 auto;
          color: rgb(249, 2, 146);
          font-weight: bolder;
          width: 90%;
          text-align: center;
      }