* {
    margin: 0;
    padding: 0;
}

html,
body {
    /*https://cssgradient.io/*/
    background: rgb(34, 193, 195);
    background: -moz-linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3", endColorstr="#fdbb2d", GradientType=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    margin: 0 auto;
    height: auto;
    width: 100vw;
    font-size: 16px;
    position: relative;
}

html {
    overflow-x: hidden;
}

#wrapper {
    width: 98%;
    margin: 8px auto;
    padding: 0;
    height: auto;
    overflow: hidden;
    position: relative;
}

.contentbox {
    position: relative;
    margin: 0 5px;
    padding: 0 1%;
    width: 96%;
    border-radius: 1%;
    -moz-border-radius: 1%;
    -webkit-border-radius: 1%;
}

footer {
    display: block;
    clear: both;
    margin: 0 5px;
    padding: 0 1%;
    width: 96%;
}


/*BREAKING POINTS
MOBILE PORTRAIT:    screen and (max-width: 420px)
MOBILE LANDSCAPE:   screen and (min-width: 200px) and (max-width: 800px) and (orientation: landscape)
TABLET PORTRAIT:    screen and (min-width: 480px) and (max-width: 800px) and (orientation: portrait)
TABLET LANDSCAPE:   screen and (min-width: 800px) and (max-width: 1280px)
REGULAR DESKTOPS:   screen and (min-width: 800px)
LARGE DESKTOPS:     screen and (min-width: 1600px)
*/

@media only screen and (max-width: 798px) {
    body {
        width: 98vw;
    }
    header {
        position: relative;
        width: 100%;
        height: auto;
        /*background: url(../images/hero2.jpg) no-repeat left top;*/
        overflow: hidden;
    }
    .mobile-htitle {
        color: white;
        position: absolute;
        top: 0;
        left: 15px;
    }
    /*on larger than regular mobile screens, we provide a sidebar offering summary information. 
    On mobile devices, we are choosing to omit this extra information so we choose to hide these blocks*/
    .aside-l,
    .aside-r,
    .shift-r,
    .hideit,
    .notmobile {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    /*https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    https://www.freecodecamp.org/news/css-flexbox-complete-guide/*/
    .gridflexcontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
    }
    .gfc-col1 {
        align-self: flex-start;
        width: 100%;
        height: auto;
    }
    .gfc-col2 {
        align-self: flex-start;
        width: 100%;
        height: auto;
    }
}


/*all non mobile devices */

@media only screen and (min-width: 799px) {
    .notmobile-htitle {
        color: white;
        position: absolute;
        top: 0;
        left: 20px;
        text-shadow: 6px 1px 3px rgba(37, 149, 85, 1);
    }
    .aside-l {
        background: transparent url(" ") no-repeat top left;
        margin: 0 1% 1% 0;
        padding: 0;
        border: 0;
        width: 30%;
    }
    .aside-r {
        position: relative;
        top: 0px;
        float: right;
        background: transparent url(" ") no-repeat top left;
        margin: 0 1% 0 1%;
        padding: 0.2%;
        width: auto;
        max-width: 35%;
        border: 3px solid #73AD21;
    }
    /*https://css-tricks.com/snippets/css/complete-guide-grid/*/
    .gridflexcontainer {
        display: grid;
        grid-template-columns: [line1] 45% [line2] 10% [line3] 45% [end];
        grid-template-rows: [line1] auto [end];
        /*aligns the contents to the top of each cell */
        align-items: start;
    }
    .gfc-col1 {
        grid-column: line1 / line2;
        grid-row: line1 / end;
    }
    .gfc-col2 {
        grid-column: line3 / end;
        grid-row: line1 / end;
    }
    .mobile {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}


/*END all non mobile devices */

@media only screen and (max-width: 798px) {
    body {
        width: 98vw;
    }
    .contentbox {
        font-size: 16px;
    }
}

@media only screen and (min-width: 799px) and (max-width: 1280px) {
    body {
        width: 99vw;
    }
    .contentbox {
        font-size: 16px;
    }
}

@media only screen and (min-width: 550px) and (max-width: 649px) {
    body {
        width: 98vw;
    }
    .contentbox {
        font-size: 16px;
    }
}

@media only screen and (min-width: 650px) and (max-width: 798px) {
    body {
        width: 98vw;
    }
    .contentbox {
        font-size: 16px;
    }
}

@media only screen and (min-width: 799px) and (max-width: 1040px) {
    body {
        width: 99vw;
    }
    .contentbox {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1041px) and (max-width: 1280px) {
    body {
        width: 90vw;
    }
    .contentbox {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1281px) and (max-width: 1400px) {
    body {
        width: 80vw;
    }
    .contentbox {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1401px) and (max-width: 1650px) {
    body {
        width: 80vw;
    }
    .contentbox {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1651px) {
    body {
        width: 80vw;
    }
    .contentbox {
        font-size: 22px;
    }
}